[submodule "TowerDefense_Amber/Assets/_Core/Scripts/UnityProjectsBaseFiles"]
	path = TowerDefense_Amber/Assets/_Core/Scripts/UnityProjectsBaseFiles
	url = https://github.com/Juanini/UnityProjectsBaseFiles
